@import "tailwindcss";

/* Add Bethany font */
@font-face {
    font-family: "Bethany";
    src: url("/bethany.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Define fallback fonts for each variable */
    --font-barlow: var(--font-barlow), sans-serif;
    --font-dancing-script: var(--font-dancing-script), cursive;
    --font-faculty-glyphic: var(--font-faculty-glyphic), sans-serif;
    --font-inter: var(--font-inter), sans-serif;
    --font-kanit: var(--font-kanit), sans-serif;
    --font-lxgw-marker-gothic: var(--font-lxgw-marker-gothic), sans-serif;
    --font-lato: var(--font-lato), sans-serif;
    --font-montserrat: var(--font-montserrat), sans-serif;
    --font-parkinsans: var(--font-parkinsans), sans-serif;
    --font-poppins: var(--font-poppins), sans-serif;
    --font-raleway: var(--font-raleway), sans-serif;
    --font-roboto-condensed: var(--font-roboto-condensed), sans-serif;
    --font-roboto: var(--font-roboto), sans-serif;
    --font-space-grotesk: var(--font-space-grotesk), sans-serif;
    --font-bethany: "Bethany", var(--font-inter), var(--font-lato), var(--font-roboto), var(--font-poppins), var(--font-kanit), sans-serif;
}

* {
    font-family: var(--font-bethany);
}

.no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
    display: none;
}

@theme inline {
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}

.main {

    .mask,
    .body {
        width: 100%;
        height: 100%;
        cursor: default;
    }

    .mask {
        mask-image: url('/MaskImage2.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 44.5%;
        background: #000;
        mask-size: 0;
    }
}

.main2 {

    .mask2,
    .body2 {
        width: 100%;
        height: 100%;
        cursor: default;
    }

    .mask2 {
        mask-image: url('/MaskImage.svg');
        mask-repeat: no-repeat;
        mask-position: 50% 40%;
        background: black;
        mask-origin: fill-box;
        mask-size: 200px;
    }
}